h1{
    font-family:Monospace;
    font-size: 35px;
    color: black;
    background-color: rgb(255, 231, 137);
    border: 1px black;
    text-align: center;
    width: 550px;
    word-spacing: -10px;
}
body{
    background-color: rgb(36, 36, 36);
}