h1{
    font-family:Monospace;
    padding: 10px;
    font-size: 35px;
    color: black;
    background-color: rgb(255, 231, 137);
    border: 1px black;
    width: 35%;
    word-spacing: -10px;
}
body{
    background-color: rgb(36, 36, 36);
}