@media screen and (min-width: 0px) {
    .Pgrid {
    display: grid;
    //switch background image
    background-image: url(Images/Baseball_01.jpg);
    }
     .grid-item-p2{
        font-size: $gridts;
        font-family: $gridff;
        color: $gridtc;
        }
     .grid-item-p3{
        font-size: $gridts;
        font-family: $gridff;
        color: $gridtc;
        }
    .grid-item-p4{
        font-size: $gridts;
        font-family: $gridff;
        color: $gridtc;
        }
        //picture parameters
        img{
            display: block;
            width: 65%;
            padding: 10px;
            border: 100px rgba(255, 255, 255, 0.701);
        }
}