//variables for navigation and graphs
$navbc: Black;
$navtc: yellow;
$navts: 14px;
$navis: 60px;
$navff: Monospace;
$navhbc: rgb(250, 250, 119);
$gridtc: black;
$gridts: 14px;
$gridff: Arial;
$pbc: rgb(255, 255, 255)